#app-nav-bar-row {
  height: 35px;
}

#app-container-row {
  height: -webkit-calc(100vh - 35px);
  height: -moz-calc(100vh - 35px);
  height: calc(100vh - 35px);
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#app-container-row.toggled {
  padding-left: 350px;
}

#selector-col {
  z-index: 1000;
  position: fixed;
  left: 350px;
  width: 0;
  height: -webkit-calc(100vh - 35px);
  height: -moz-calc(100vh - 35px);
  height: calc(100vh - 35px);
  margin-left: -350px;
  overflow-y: auto;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#app-container-row.toggled #selector-col {
  width: 350px;
}

#graph-component-col {
  height: -webkit-calc(100vh - 35px);
  height: -moz-calc(100vh - 35px);
  height: calc(100vh - 35px);
  width: 100%;
  position: absolute;
}

#app-container-row.toggled #graph-component-col {
  position: absolute;
  margin-right: -350px;
}
