<div id="app-container" class="container-fluid">
  <div id="app-nav-bar-row" class="row">
    <a href="#menu-toggle" class="btn btn-default" id="menu-toggle" (click)="toggleMenu()">{{ menuToggled ?  'Hide' : 'Show' }} Data Selection</a> {{title}}
  </div>
  <div id="app-container-row" class="row" [ngClass]="{ 'toggled': menuToggled }">
    <div id="selector-col">
      <app-its-selector (notifySelection)="handleDataSelection($event)"></app-its-selector>
    </div>
    <div id="graph-component-col">
      <app-its-graph-component></app-its-graph-component>
    </div>
  </div>
</div>
