#graph-component-container {
  height: 100%;
}

#graph-component-data-table-row {
  height: 25%;
  max-height: 25%;
}

#graph-component-data-table-row > .panel{
  height: 100%;
  max-height: 100%;
  overflow-y: hidden;
}

#graph-component-graph-row {
  height: 75%;
}

.graph-col {
  height: 100%;
}

#graph-component-data-table-panel-body {
  height: 100%;
  max-height: 100%;
  overflow-y: scroll;
}
