<div id="graph-component-container" class="container-fluid">
  <div id="graph-component-graph-row" class="row">
    <div class="col-md-12 graph-col">
      <app-its-chart></app-its-chart>
    </div>
    <!--<div class="col-md-2 graph-stats-col">graph stats</div>-->
  </div>
  <div id="graph-component-data-table-row" class="row">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Data Series Details</h3>
      </div>
      <div id="graph-component-data-table-panel-body" class="panel-body">
        <app-data-set-table (notifyChartTypeChange)="handleChartTypeChange($event)"
                            (notifyYAxisChange)="handleYAxisChange($event)"
                            (notifyIntegrationRequest)="handleIntegrationRequest($event)"></app-data-set-table>
      </div>
    </div>
  </div>
</div>

