<table class="table table-striped">
  <thead>
  <tr>
    <th>Series</th>
    <th>Variable</th>
    <th>Chart Type</th>
    <th>Color</th>
    <th>Y Min</th>
    <th>Y Max</th>
    <th>Log Scale</th>
    <th>Create Integral</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let dataSeriesID of getDataSeriesIDs(); let i=index">
    <td>
      {{dataSeriesCollection[dataSeriesID]['its-data-type']}}
    </td>
    <td>
      {{dataSeriesCollection[dataSeriesID]['name']}}
    </td>
    <td>
      <select name="{{dataSeriesCollection[dataSeriesID]['id']}}-chart-type"
              (change)="handleChartTypeSelection(dataSeriesCollection[dataSeriesID]['id'], $event.target.value)">
        <option selected></option>
        <option value="line">Line</option>
        <option value="column">Column</option>
        <option value="spline">Spline</option>
        <option value="area">Area</option>
      </select>
    </td>
    <td>
      <input type="button" (click)="handleColorChange(dataSeriesCollection[dataSeriesID]['id'])" value="Generate New">
    </td>
    <td>
      <input type="text" (keyup)="handleYAxisChange(dataSeriesCollection[dataSeriesID]['id'], 'min', $event.target.value)">
    </td>
    <td>
      <input type="text" (keyup)="handleYAxisChange(dataSeriesCollection[dataSeriesID]['id'], 'max', $event.target.value)">
    </td>
    <td>
      <input type="checkbox" (click)="handleYAxisChange(dataSeriesCollection[dataSeriesID]['id'], 'log', $event.target.checked)">
    </td>
    <td>
      <input type="text" [(ngModel)]="integrationInputValues[i]">
      <input type="checkbox"
             (click)="handleIntegrationRequest(dataSeriesCollection[dataSeriesID]['id'],$event.target.checked, i)">
    </td>
  </tr>
  </tbody>
</table>
