<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true"
     (window:resize)="setListHeight($event)">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
           aria-expanded="true" aria-controls="collapseOne">
          Surface
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <input #surfaceSearchBox class="search" placeholder="Search" (keyup)="0"/>
        <ul class="list" [ngStyle]="{'max-height': listMaxHeight}">
          <li *ngFor="let el of surfaceList"
              [class.list-element-hide]="surfaceSearchBox.value && surfaceSearchBox.value.length > 0
                            && el.toLowerCase().indexOf(surfaceSearchBox.value.toLowerCase()) < 0">
            <input type="checkbox" name="{{el}}" value="{{el}}"
                   (click)="handleSelectionClick('surface',el, $event.target.checked)"> {{el}}
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
           href="#collapseTwo"
           aria-expanded="false" aria-controls="collapseTwo">
          Midwater
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        <select name="midwater-phylogeny-level-select" (change)="handlePhylogenyLevelSelect($event.target.value)">
          <option value="level-one">Level-one</option>
          <option value="level-two">Level-two</option>
          <option value="level-three">Level-three</option>
          <option value="superkingdom">Super Kingdom</option>
          <option value="kingdom">Kingdom</option>
          <option value="phylum">Phylum</option>
          <option value="subphylum">Subphylum</option>
          <option value="superclass">Superclass</option>
          <option value="class">Class</option>
          <option value="subclass">Subclass</option>
          <option value="order">Order</option>
          <option value="suborder">Suborder</option>
          <option value="family">Family</option>
          <option value="subfamily">Subfamily</option>
          <option value="genus">Genus</option>
          <option value="species" selected>Species</option>
        </select><br/>
        <input #midwaterSearchBox class="search" placeholder="Search" (keyup)="0"/>
        <ul class="list" [ngStyle]="{'max-height': listMaxHeight}">
          <li *ngFor="let el of midwaterList"
              [class.list-element-hide]="midwaterSearchBox.value && midwaterSearchBox.value.length > 0
        && el.toLowerCase().indexOf(midwaterSearchBox.value.toLowerCase()) < 0">
            <input type="checkbox" name="{{el}}" value="{{el}}"
                   (click)="handleSelectionClick('midwater',el,$event.target.checked)"> {{el}}
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
           href="#collapseThree"
           aria-expanded="false" aria-controls="collapseThree">
          Benthic
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel"
         aria-labelledby="headingThree">
      <div class="panel-body">
        <div id="benthicVariables">
          <input #benthicSearchBox class="search" placeholder="Search" (keyup)="0"/>
          <ul class="list" [ngStyle]="{'max-height': listMaxHeight}">
            <li *ngFor="let el of benthicList"
                [class.list-element-hide]="benthicSearchBox.value && benthicSearchBox.value.length > 0
        && el.toLowerCase().indexOf(benthicSearchBox.value.toLowerCase()) < 0">
              <input type="checkbox" name="{{el}}" value="{{el}}"
                     (click)="handleSelectionClick('benthic',el,$event.target.checked)"> {{el}}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFour">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
           href="#collapseFour"
           aria-expanded="false" aria-controls="collapseFour">
          Other
        </a>
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel"
         aria-labelledby="headingFour">
      <div class="panel-body">
        <ul class="list" [ngStyle]="{'max-height': listMaxHeight}">
          <li>MEI <input id="mei-data" type="checkbox" name="mei" value="mei"
                         (click)="handleSelectionClick('mei',el,$event.target.checked)"> Plot data
          </li>
          <li>Tide <input id="tide-data" type="checkbox" name="tide" value="tide"
                          (click)="handleSelectionClick('tide',el,$event.target.checked)"> Plot data
          </li>
          <li>Daylight <input id="daynight-data" type="checkbox" name="daynight" value="daynight"
                          (click)="handleSelectionClick('daynight',el,$event.target.checked)"> Plot data
          </li>
          <li>Ekman <input id="ekman-data" type="checkbox" name="ekman" value="ekman"
                              (click)="handleSelectionClick('ekman',el,$event.target.checked)"> Plot data
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
